src/backend/node-red/.flows.json.backup
[{"id":"c76ad7df.7d296","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"41292f1e.58025","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"4c063892.fd11b8","type":"mqtt-broker","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"90","cleansession":true,"birthTopic":"esp32/temperature/images","birthQos":"1","birthRetain":"true","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"8367354c.be1a68","type":"mqtt-broker","name":"localhost","broker":"localhost:1883","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"esp32/temperature/images","birthQos":"1","birthRetain":"true","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"468d6832.f8cd78","type":"MySQLdatabase","name":"IMAGENES","host":"127.0.0.1","port":"3306","db":"IMAGENES","tz":""},{"id":"75721c72.a8c774","type":"mqtt in","z":"41292f1e.58025","name":"","topic":"esp32/#","qos":"1","datatype":"auto","broker":"4c063892.fd11b8","nl":false,"rap":false,"x":110,"y":60,"wires":[["13a82fe.9035bd","2cf9939b.6e125c","6a03ca80.b1aca4"]]},{"id":"63ba836f.07351c","type":"mysql","z":"41292f1e.58025","mydb":"468d6832.f8cd78","name":"IMAGES","x":580,"y":60,"wires":[[]]},{"id":"6a03ca80.b1aca4","type":"function","z":"41292f1e.58025","name":"Insert query","func":"//let image_name = \"picture\" + \"String(pictureNumber)\" +\".jpg\";\nmsg.topic = \"INSERT INTO IMAGES(PHOTO) VALUES ('?')\";\n//msg.payload = [val1];\nreturn msg;\n","outputs":1,"noerr":0,"x":390,"y":60,"wires":[["63ba836f.07351c"]]},{"id":"13a82fe.9035bd","type":"debug","z":"41292f1e.58025","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","targetType":"full","x":370,"y":140,"wires":[]},{"id":"f8d138ae.61c458","type":"mqtt in","z":"41292f1e.58025","name":"","topic":"#","qos":"1","datatype":"auto","broker":"8367354c.be1a68","x":110,"y":160,"wires":[[]]},{"id":"2cf9939b.6e125c","type":"image","z":"41292f1e.58025","name":"","width":160,"data":"payload","dataType":"msg","thumbnail":false,"active":true,"pass":false,"outputs":0,"x":400,"y":240,"wires":[]}]